@import url('https://fonts.googleapis.com/css2? family= Open+Sans & display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu-h {
    list-style: none;
    padding: 0;
    background-color: rgb(37,37,39);
}

#menu-h li {
    display: inline-block;
}

#menu-h li a{
    color: #fff;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    display: inline;
}